In [ ]:
#Q1 EXPLAIN WITH AN EXAMPLE EACH WHEN TO USE A FOR LOOP AND A WHILE LOOP

"""FOR LOOP:- The for loop in python is used to iterate the statements 
    or a part of the program several times ."""
    
"""WHILE LOOP:- While loop is used to execute a block of stetements repedately 
    until a given a condition is satisfyed."""

In [1]:
# for loop example
n=10
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
# while loop example
n=1
while(n<10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [5]:
#Q2 Write a python program to print the sum and product of the first 10 natural numbers using for loop and while loop

#using for loop
total=0
mult=1
for i in range(1,11):
    total+=i
    mult*=i
print("sum of the first 10 natural numbers=",total)
print()
print("product of the first 10 natural numbers=",mult)

sum of the first 10 natural numbers= 55

multiplication of the first 10 natural numbers= 3628800

In [8]:
#using while loop
n=10
total=0
mult=1
while(n>0):
    total+=n
    mult=mult*n
    n-=1
print("sum of fisrt 10 natural numbers=",total)
print("product of first 10 natural numbers=",mult)

sum of fisrt 10 natural numbers= 55
product of first 10 natural numbers= 3628800

In [39]:
#Q3 Creat a  python program to compute the electricty bill for a household
units=int(input("Enter Electricty consumed in a month="))
e_bill=0

if units <= 100:
    e_bill = unit * 4.5
elif units <= 200:
    e_bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    e_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    e_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print("Electrity bill is=",e_bill)

Enter Electricty consumed in a month=310
Electrity bill is= 2250.0

In [28]:
#Q4 Creat a list of numbers from 1 to 100, calc cube of each numbr and check no divide by 4 or 5 then append it in list

# USING FOR LOOP

l1=list(range(1,100+1))
l2=[]
m=0
l3=[]
for i in l1:
    l2.append(i**3)
    m=i**3     #taking a var and storing cubes in it for further operation
    if(m%4==0 or m%5==0 ):
        l3.append(m)     
print("qube of each number")
print(l2)
print()
print("all the numbers whose divided by 4 or 5 are stored in list and shown below")
print()
print(l3)

qube of each number
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

all the numbers whose divided by 4 or 5 are stored in list and shown below

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [61]:
# USING WHILE LOOP

l1=list(range(1,100+1))
n=len(l1)
l2=[]
m=0
l3=[]

while(n>0):
    l2.append((n**3))
    m=n**3
    if(m%4==0 or m%5==0):
        l3.append(m)
    n-=1
print("Qube of each number")
print(l2)
print()
print("All the numbers whose divided by 4 or 5 are stored in list and shown below")
print()
print(l3)

Qube of each number
[1000000, 970299, 941192, 912673, 884736, 857375, 830584, 804357, 778688, 753571, 729000, 704969, 681472, 658503, 636056, 614125, 592704, 571787, 551368, 531441, 512000, 493039, 474552, 456533, 438976, 421875, 405224, 389017, 373248, 357911, 343000, 328509, 314432, 300763, 287496, 274625, 262144, 250047, 238328, 226981, 216000, 205379, 195112, 185193, 175616, 166375, 157464, 148877, 140608, 132651, 125000, 117649, 110592, 103823, 97336, 91125, 85184, 79507, 74088, 68921, 64000, 59319, 54872, 50653, 46656, 42875, 39304, 35937, 32768, 29791, 27000, 24389, 21952, 19683, 17576, 15625, 13824, 12167, 10648, 9261, 8000, 6859, 5832, 4913, 4096, 3375, 2744, 2197, 1728, 1331, 1000, 729, 512, 343, 216, 125, 64, 27, 8, 1]

All the numbers whose divided by 4 or 5 are stored in list and shown below

[1000000, 941192, 884736, 857375, 830584, 778688, 729000, 681472, 636056, 614125, 592704, 551368, 512000, 474552, 438976, 421875, 405224, 373248, 343000, 314432, 287496, 274625, 262144, 238328, 216000, 195112, 175616, 166375, 157464, 140608, 125000, 110592, 97336, 91125, 85184, 74088, 64000, 54872, 46656, 42875, 39304, 32768, 27000, 21952, 17576, 15625, 13824, 10648, 8000, 5832, 4096, 3375, 2744, 1728, 1000, 512, 216, 125, 64, 8]

In [94]:
#  I AM WRITING ANOTHER PROGRAM BECAUSE IN UPPER PROGRAM THERE WAS ELEMENT IN UPPER TO LOWER
# SO THATS WHY I AM WRITE THIS CODE , IN THIS CODE I STORE AFTER THE CUBE IN LIST I CANT TAKE A LIST FIRSTLY
n=1
l2=[]
m=0
l3=[]

while(n<100):
    l2.append((n**3))
    m=n**3
    if(m%4==0 or m%5==0):
        l3.append(m)
    n+=1
print("Qube of each number")
print(l2)
print()
print("All the numbers whose divided by 4 or 5 are stored in list and shown below")
print()
print(l3)

Qube of each number
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

All the numbers whose divided by 4 or 5 are stored in list and shown below

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]

In [90]:
#Q5 Write a program to filter count vowels in the given string
stri="i want to become a data scientist"
count=0
n=len(stri)
for i in range(n):
    if(stri[i]=="a" or stri[i]=="e" or stri[i]=="i" or stri[i]=="o" or stri[i]=="u"):
        count+=1
print("There are",count,"vowels are persent in this string")

There are 12 vowels are persent in this string

In [93]:
n=1
l2=[]
m=0
l3=[]

while(n<100):
    l2.append((n**3))
    m=n**3
    if(m%4==0 or m%5==0):
        l3.append(m)
    n+=1
print("Qube of each number")
print(l2)
print()
print("All the numbers whose divided by 4 or 5 are stored in list and shown below")
print()
print(l3)

Qube of each number
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

All the numbers whose divided by 4 or 5 are stored in list and shown below

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]