In [5]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']
n=iter(list1)

l=[]
k=[]

def task(n):
    for i in range(1,n):
        for j in i:
            if i==(int):
                l.append(i)
    k.append(i)
task(n)
print(l)
print(k)

TypeError: 'list_iterator' object cannot be interpreted as an integer

In [32]:
def flattenlist(_2dlist):  
    # defining an empty list  
    flatlist = []  
    # Iterating through the outer list  
    for item in _2dlist:  
        if type(item) is list:  
            # If the item is of the list type, iterating through the sub-list  
            for element in item:  
                flatlist.append(element)  
        else:  
            flatlist.append(item)  
    return flatlist  
  
# defining the nested list  
nestedlist = [[10, 20, 30, 40], [50, 60, 70], [80, 90, 100]]  
print('Genuine List:', nestedlist)  
print('Converted Flat List:', flattenlist(nestedlist))

Genuine List: [[10, 20, 30, 40], [50, 60, 70], [80, 90, 100]]
Converted Flat List: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [51]:
def task(list1):
    flatlist=[]
    n=[]
    for i in list1:
        if i is int:
            n.append(i)
        if type(i) is list:
            for j in i:
                flatlist.append(j)
    return flatlist
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

print("your list=",list1)
print("flated list=",task(list1))

your list= [1, 2, 3, 4, [44, 55, 66, True], False, (34, 56, 78, 89, 34), {1, 2, 3}, {1: 34, 'key2': [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']
flated list= [44, 55, 66, True, 56, 'data science']

In [41]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']
for i in list1:
    if i==int:
        print(i)

In [42]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']
for i in list1:
    if i==int:
        print(i)